{
// "off"   0
// "warn"  1
// "error" 2
//
  "parser": "babel-eslint",
  "plugins": [
    "react",

  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },
  "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
  "rules": {
    // Strict mode
    "strict": ["warn", "never"],
    "no-console": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    // Code style
    //"indent": ["warn", 2],
    "indent": ["off", 2],
    "quotes": ["off", "single"],
    "one-var": ["error", { var: "never", let: "never", const: "never" }],
    "no-inner-declarations": ["error", "both"]
  }
}
