{
// "off"   0
// "warn"  1
// "error" 2
//
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },
  "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
    "allowImportExportEverywhere": false,
    "codeFrame": false
    },
  "rules": {
    // Strict mode
    "strict": ["warn", "never"],
    "no-console": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-children-prop": "warn",
    "react/no-danger": "warn",
    "react/no-deprecated": "warn",
    "react/no-direct-mutation-state": "error",
    "react/no-unescaped-entities": "warn",
    "react/jsx-key": "warn",
    "react/jsx-no-literals": "warn",
    "react/jsx-no-undef": "warn",
    "react/jsx-pascal-case": "warn",
    // Code style
    //"indent": ["warn", 2],
    "indent": ["off", 2],
    "quotes": ["off", "single"],
    "one-var": ["error", { "var": "never", "let": "never", "const": "never" }],
    "no-inner-declarations": ["error", "both"]
  }
}
