.appBar > div {
    display: flex;
    flex-direction: row;
    align-content: baseline;
    height: 35px;
    overflow-y: hidden;
}

.appBar {
    overflow-y: auto;
    background-color: #004180;
}

.appBar svg {
    width: 3.4rem;
    height: 3.4rem;
    margin-right: 1rem;
    fill: #fff;
}

.appBar h1 {
    margin-top: auto;
}