@import "react-toolbox/lib/layout/theme.css";
@import "react-toolbox/lib/list/theme.css";
@import "react-toolbox/lib/drawer/theme.css";
@import "react-toolbox/lib/navigation/theme.css";
@import "AppBar.css";

.appBar .inner {
  overflow-x: hidden;
}

.layout {
    display: flex;
    height: 100%;
    margin  : 0;
    padding : 0;
    flex: 1;
    overflow-y: auto;
    flex-direction: row;
    width : 100%;
}

.layout .content {
        flex: 1 1 auto;
        overflow-y: auto;
        position: relative;
        width: 100%;
        height: 100%;
    }

.layout .header {
    flex: 0 0 auto;
    }

.layout .panel {
    display:flex;
    flex-direction: column;
    position: relative;
    height:100%;
    width: auto;
}

.layout .panel  {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
    height: 100%}

.layout .sidebar {
    overflow-y: auto;
    display:contents;
    height:100%;
    //width:25%;

}

.sidebarDrawer,
.navDrawerDrawer {
  background-color: var(--palette-blue-200);
}

.RightSidebar, .sidebarWrapper {
  width: auto;
  overflow-y: auto;
}

.panel {
  height: 100%;
}

div.panel{
  overflow-y: hidden;
  height: 100%;
}

#navdrawer.leftsidebar {
  overflow-y: auto;
}

#rightsidepane { display: inline-block; color: var(--palette-blue-900)}

.bottombar {
  position: fixed;
  bottom: 0em;
  height: 2em;
  width: 100%;
  background-color: var(--palette-blue-200);
}
