@import "react-toolbox/lib/layout/theme.css";
@import "AppBar.css";


.layout {
    height: 100%;
    margin  : 0;
    padding : 0;
    flex: 1;
    overflow-y: auto;
    flex-direction: row;
    width : 100%;
}

.layout .content {  // where content go
        flex: 1 1 auto;
        overflow-y: auto;
        position: relative; // need this to position inner content
        width: 100%;
        height: 100%;
    }

.layout .header {  // the appbar
    flex: 0 0 auto;
    }

.layout .panel {
    display:flex;
    position: relative;
    height:100%;
    width: 75%
}

.layout .panel #MainPaneDivWrapper { flex: 1; overflow-y: hidden; height: inherit}

.layout .sidebar {
    overflow-y: auto;
    display:flex;
    height:100%;
    width:25%;

}

.sidebarDrawer {
  width:100%;
}

.RightSidebar, .sidebarWrapper {
  width: auto;
  overflow-y: auto;
}


#rightsidepane { display: "content" }
