

.dropzone {
    fill: "transparent";
    fill-opacity: 0.2;
}


#wbWastebin       {
    stroke: lightgreen;
    fill: lightgreen;

}
#wbWastebin:hover {
    stroke: yellow;
    fill: yellow;
    -webkit-transition: fill 2s, -webkit-transform 2s;
    transition: fill 2s, transform 2s;
}

#iconPalette       {
    stroke: lightgreen;
    fill: lightgreen;

}
#iconPalette:hover {
    stroke: yellow;
    fill: yellow;
}

.wbIcon{
    fill: yellow;
}
.wbIcon:hover{
    fill: red;
}

.drop-active {
//    stroke: red;
//    animation: dash 1s linear forwards;
}

.drop-target {
    fill: "transparent";
    //stroke: #fff;
    //stroke-dasharray: 0;
}

.drag-drop {
    stroke: #fff;
    fill: "transparent";
    //stroke-dasharray: 0;
    //stroke-width: 2px;
    //stroke-linecap: round;
}

.drag-drop.can-drop {
    stroke: #000;
    fill: "transparent";
}

