
//colors
$web_orange: #ffa500;
$color_royal_blue_approx: #4070e0;

.outportint32 {
	fill: $web_orange;
	cursor: default;
}
.outportbool {
	fill: $color_royal_blue_approx;
	cursor: default;
}
.inportint32 {
	fill: $web_orange;
	cursor: default;
}
.inportbool {
	fill: $color_royal_blue_approx;
	cursor: default;
}
.port {
	width: 370px;
	height: 550px;
}
