
.outportint32 {
  fill: #FFA500;
  cursor: default;
}

.outportbool {
  fill: #4070E0;
  cursor: default;
}

.inportint32 {
  fill: #FFA500;
  cursor: default;
}

.inportbool {
  fill: #4070E0;
  cursor: default;
}

.port {
  width: 370px;
  height: 550px;
}