.switch{
  border:1px solid #ccc;
  width:40px;height:16px;
  border-radius:13px;
  cursor:pointer;
  display:inline-block;
  float:left
}

.switch-toggle{
  border:1px solid #999;
  box-shadow:1px 1px 1px #ccc;
  width:15px;
  height:14px;
  left:0;
  border-radius:12px;
  background:#fff;
  position:relative;
  transition:left .2s ease-in-out
}
.switch.on{
  background:green
}
.switch.on .switch-toggle{
  left:23px
}
