/* the tree node's style */
.tree-view {
  overflow-y: hidden;

  /* Prevent the sidebar overflow from causing unnecessary
  scrollbars to appear in widgets */
  overflow-x: hidden;
  /*padding-top: 10px;*/
  /*margin-bottom: -10px;*/

  /*padding-bottom: 10px;*/
  /*height: 30px;*/

}

.tree-view_item {
  /* immediate child of .tree-view, for styling convenience */
  /*height: 23px;*/
}

/* style for the children nodes container */
.tree-view_children {
  /*margin-left: 36px;*/
  padding-top: 0px;
  padding-bottom: 0px;
}

.tree-view_children-collapsed {
  height: 0px;
  overflow-y: hidden;
}

.tree-view_arrow {
  cursor: pointer;
  margin-right: 60px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tree-view_arrow:after {
  content: '▾';
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
