body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

@keyframes dash {
  from {
    stroke-dashoffset: 24;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.srd-default-link--highlight-path {
  stroke: #f50057 !important;
}

.react-grid-Cell__value {
  padding-left: 2px;
  padding-right: 0;
}

.react-grid-Cell {
  padding-left: 0 !important;
  padding-right: 2px !important;
  background-color: transparent !important;
  border-bottom-width: 0 !important;
  border-right-width: 0 !important;
}

.ReactVirtualized__Table__headerRow {
  font-family: Roboto;
  font-weight: 400 !important;
  color: #fff;
}
.ReactVirtualized__Table__row {
  background-color: #303030;
}
